.wrap {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  padding-top: 0;
}

@media only screen and (min-width: 820px) {
  .wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 640px) {
  .wrap {
    padding: 20px 20px 80px 20px;
  }
}

@media only screen and (min-width: 1250px) {
  .wrap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1500px) {
  .wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
