.newCommentBtn {
  cursor: pointer;
}

.avatar {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background: green;
}

.avatarText {
  position: relative;
  top: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 20px;
}

.controls {
  padding-top: 20px;
}

.edit {
  max-width: 520px;
  background: white;
}

.toolbarClassName {
  padding: 5px;
}

.editorClassName {
  background: green;
}

.edit > div > div:nth-child(1) {
  padding: 5px;
}

.edit > div > div:nth-child(2) {
  padding: 12px;
  height: auto;
  min-height: 120px;
  word-break: break-all;
}
