.headline {
    margin: 0;
}

.input {
    margin-top: 10px;
    font-size: 12px;
}

.btns button {
    display: inline-block;
    margin: 0 !important;
}

.btns button {
    margin-left: 7px !important;
}