.table {
    display: grid;
    grid-template-columns: 200px 80px 80px 80px 80px 80px 80px 80px 80px 100px;
}

.cell {
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    display: grid;
    place-items: center;
    background: #ffffff;
    border-left: none;
}

.cellName {
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    padding: 10px;
    background: #f6f6f9;
    border-left: none;
}

.links {
    color: #7048e8;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 3px;
    border-bottom: 2px solid #9775fa;
    text-decoration: none;
    line-height: 1.9;
}