.card {
    border: 1px solid #cacaca;
    border-radius: 4px;
    background: white;
    padding: 20px;
}

.toprow {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 10px;
}

.more {
    cursor: pointer;
    position: relative;
}

.more:hover .options {
    display: block;
}

.projectname a {
    font-size: 18px;
    font-weight: 600;
    color: #1976d2;
    text-decoration: none;
}

.options {
    display: none;
    position: absolute;
    top: 25px;
    left: -40px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    background: white;
}

.option {
    padding: 10px 15px;
}

.option:hover {
    background: #63a4ff;
}