.fakeInputWrap {
  display: inline-block;
  width: 100%;
  max-width: 240px;
  height: 27px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  color: darkgray;
}

.newCommentBtn:hover .fakeInputWrap {
  border: 1px solid #7048e8;
}

.newCommentBtn {
  cursor: pointer;
}

.avatar {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  top: 2px;
  border-radius: 50%;
  text-align: center;
  background: green;
}

.avatarText {
  position: relative;
  top: 6px;
}

.grid {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 20px;
}

.controls {
  padding-top: 20px;
}

.edit {
  max-width: 520px;
  background: white;
}

.toolbarClassName {
  padding: 5px;
}

.editorClassName {
  background: green;
}

.edit > div > div:nth-child(1) {
  padding: 5px;
}

.edit > div > div:nth-child(2) {
  height: auto;
  min-height: 120px;
  padding: 12px;
  word-break: break-all;
}
