.cardWrap {
  padding: 0 20px;
}

.pageHeadline {
  font-weight: 400;
}

.card {
  width: 85vw;
  padding: 15px 0;
  margin-bottom: 20px;
  border: 1px solid #cacaca;
  background: white;
  border-radius: 4px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.cardOne {
  width: 85vw;
  padding: 15px 0;
  margin-bottom: 20px;
  border: 1px solid #cacaca;
  background: white;
  border-radius: 4px;
}

.navItem {
  padding-right: 15px;
  padding: 15px 20px;
  cursor: pointer;
}

.navItem:hover {
  border-bottom: 2px solid #7048e8;
  color: #7048e8;
}
