.cardWrap {
    padding: 0 20px;
}

.pageHeadline {
    font-weight: 400;
}

.card {
    border: 1px solid #cacaca;
    background: white;
    border-radius: 4px;
    padding: 15px 0;
    margin-bottom: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 85vw;
}

.cardOne {
    border: 1px solid #cacaca;
    background: white;
    border-radius: 4px;
    padding: 15px 0;
    margin-bottom: 20px;
    width: 85vw;
}

.navItem {
    padding-right: 15px;
    padding: 15px 20px;
    cursor: pointer;
}

.navItem:hover {
    border-bottom: 2px solid #7048e8;
    color: #7048e8;
}