.wrap {
    width: 250px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    margin: 10px 0;
}

.top {
    text-align: right;
    padding: 10px 15px;
    border-bottom: 1px solid #cacaca;
}

.bot {
    padding: 10px 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.botMid {
    text-align: center;
}

.reset {
    position: relative;
    top: 6px;
    cursor: pointer;
    padding-left: 10px;
}

.startTimer {
    cursor: pointer;
    position: relative;
    top: 3px;
}