.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    text-align: center;
    background: green;
}

.avatarText {
    position: relative;
    top: 6px;
}

.singleCommentWrap {
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 20px;
    margin-top: 30px;
    max-width: 520px;
}

.name {
    font-size: 16px;
    color: #5b5b61;
}

.date {
    color: #8E8E8E;
    font-size: 14px;
    padding-left: 10px;
}

.description {
    padding-top: 10px;
}

.commentTop {
    display: grid;
    grid-template-columns: 1fr auto;
}

.controls {
    display: none;
}

.singleCommentWrap:hover .controls {
    display: block;
}

.editIcon {
    padding: 0 20px 0 0;
    cursor: pointer;
}

.deleteIcon {
    cursor: pointer;
}