.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 2px;
    text-align: center;
    background: green;
}

.avatarText {
    position: relative;
    top: 6px;
}