.card {
  padding: 20px;
  margin: 0 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #cacaca;
}

.headline {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto 1fr;
  padding-bottom: 20px;
}

.line {
  height: 1px;
  background: #d7d7da;
  vertical-align: middle;
  align-self: center;
}

.container {
  width: 100%;
}

.text {
  color: blue;
}

.label {
  padding-bottom: 5px;
  color: gray;
  font-size: 14px;
  font-weight: 600;
}
