.card {
    border-radius: 4px;
    background-color: white;
    border: 1px solid #cacaca;
    padding: 20px;
    margin: 0 20px;
}

.headline {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 1fr;
    padding-bottom: 20px;
}

.line {
    background: #d7d7da;
    vertical-align: middle;
    height: 1px;
    align-self: center;
}

.container {
    width: 100%;
}

.text {
    color: blue;
}

.label {
    color: gray;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}