.ic {    
    vertical-align: -moz-middle-with-baseline;
    vertical-align:-7px;
    padding-right: 3px;
    transition: transform 1s;
}

.wrap {
    display: inline-block;
    padding: 5px 15px 4px 5px;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px;
}

.wrap:hover {
    background: #004ba0;
    color: white;
}

.wrap:hover .ic {
    transform: rotate(180deg);
}


@media only screen and (min-width: 600px) {
    .wrap {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 600px) {
    .wrap {
        background: #004ba0;
        color: white;
    }
}

