.card {
    border: 1px solid #cacaca;
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

@media screen and (min-width: 780px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        max-width: 800px;
    }

    .right {
        text-align: right;
    }
}

.notChecked {
    cursor: pointer;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #cacaca;
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 3px;
}

.taskName {
    display: inline-block;
}

.active {
    display: inline-block;
}

.completed {
    display: inline-block;
}

.completed {
    opacity: 0.5;
}

.checked {
    position: relative;
    top: 4px;
    display: inline-block;
    margin-right: 15px;
}

.back {
    color: gray;
    cursor: pointer;
    padding: 20px 0;
}

.backIcon {
    position: relative;
    top: 5px;
    padding-right: 10px;
}

.labelGroup {
    padding: 15px 0;
}

.delete {
    display: inline-block;
    position: relative;
    top: 6px;
    padding-left: 10px;
    margin-left: 20px;
    cursor: pointer;
}